@model IEnumerable<ProvaTecnica_ControleAlugueis.Models.Ferramenta>

@{
    ViewData["Title"] = "Ferramentas";
}

<h1>Ferramentas</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary btn-sm">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstAtu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoDiaria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstAtu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoDiaria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-light">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
