@model ProvaTecnica_ControleAlugueis.Models.Solicitacao

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Solicitação</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ferramenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ferramenta.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdFerramentas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdFerramentas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdDias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdDias)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-light">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
</div>
